<h2>Ingrese Producto</h2>
<form action="productosejs" method="POST">
    Nombre: <input type="text" name="Nombre">
    Url: <input type="text" name="Url">
    Precio: <input type="number" name="Precio">
    <button>Enviar</button>
</form>

<a href="/productosejs">
    <button>
        ir a productos
    </button>

</a>