    <h2>Ingrese Producto</h2>
    <form action="productos" method="POST">
        Nombre: <input type="text" name="Nombre">
        uUrl: <input type="text" name="Url">
        Precio: <input type="number" name="Precio">
        <button>Enviar</button>
    </form>
    
    <br>
        <br>
   
        <a href="/productos">
        <button>ir a productos</button>
        
        </a>
    